@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?48814823');
  src: url('../fonts/fontello/fontello.eot?48814823#iefix') format('embedded-opentype'),
       url('../fonts/fontello/fontello.woff2?48814823') format('woff2'),
       url('../fonts/fontello/fontello.woff?48814823') format('woff'),
       url('../fonts/fontello/fontello.ttf?48814823') format('truetype'),
       url('../fonts/fontello/fontello.svg?48814823#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?48814823#fontello') format('svg');
  }
}
*/

 [class^="icona-"]:before, [class*=" icona-"]:before {
  font-family: "fontello";
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     line-height: 1;
     /* Better Font Rendering =========== */
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
  /* opacity: .8; */


}

.icona-meetup:before { content: '\f2e0'; } /* '' */